<div class="row">
  <div class="col-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Website</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        @for (user of userList(); track $index) {
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.website }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
